@font-face {
    font-family: "RobotoFlex-Regular";
    src: url("fonts/RobotoFlex-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: "RobotoFlex-Regular";
    font-size: 16px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.icon{
    width: 25px;
    height: 25px;
}

.sidebar{
    grid-column: 1 / 2;
    background-color: #1992d4;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 28px;
    letter-spacing: 0.1rem;

    .sidebar-title{
        font-size: 2em;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: bold;
        .icon{
            width: 50px;
            height: 50px;
            /* color: white; 
            
            won't work. need to use svg stuff I guess.. do later
            
            */
        }
    }

    .sidebar-group{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 14px;
        
        > div{
            /* border: 1px solid black; */
            display: flex;
            align-items: center;
            gap: 12px;
            > a{
                text-decoration: none;
            }
        }
    }
}

.sidebar * {
    color: white;
}

.main{
    grid-column: 2 / 3;
}